
*~
*.pyc
./ropeproject/
/image/cell/test.bmpftp/.ropeproject/objectdb
ftp/.ropeproject/history
ftp/.ropeproject/config.py
ftp/.ropeproject/globalnames
ftp/.ropeproject/objectdb
port_redirect/.ropeproject/config.py
port_redirect/.ropeproject/globalnames
port_redirect/.ropeproject/history
port_redirect/.ropeproject/objectdb
ftp/ftp.py.config
fork_test/.ropeproject/config.py
fork_test/.ropeproject/globalnames
fork_test/.ropeproject/history
fork_test/.ropeproject/objectdb
web server/TServer/TServer
ftp/ftp.py.log
spiral/.ropeproject/config.py
spiral/.ropeproject/globalnames
spiral/.ropeproject/history
spiral/.ropeproject/objectdb
web server/tornado/.ropeproject/config.py
image/make_image/017.jpg
image/make_image/6.jpg
image/make_image/6.sketch.jpg
image/make_image/a.jpg
image/make_image/b.jpg
image/make_image/char.html
image/make_image/out.html
image/make_image/out.txt
image/make_image/yun.jpg
image/make_image/yun1.jpg
image/make_image/yun2.jpg
